:root {
  --primary-purple: rgb(140, 25, 143);
  --primary-pink: rgb(237, 11, 139);
  --primary-orange: rgb(245, 134, 23);
  --primary-red-orange: rgb(240, 72, 29);
  --primary-red: rgb(194, 21, 40);
  --primary-dark: rgb(75, 7, 74);

  --bg: rgb(13, 7, 19);
  --text: rgb(224, 224, 224);
  --border-color: rgb(224, 224, 224);

  --sans: system-ui, "Segoe UI", Roboto, sans-serif;

  color: var(--text);
  font: 18px/145% var(--sans);
  letter-spacing: 0.18px;
  text-rendering: optimizeLegibility;
  background: var(--bg);
  font-synthesis: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}

input {
  margin: 0;
  border: none;
  padding: 0;
  font: 18px/145% var(--sans);
}

button {
  margin: 0;
  border: none;
  padding: 0;
  color: var(--text);
  font: 18px/145% var(--sans);
  cursor: pointer;
}
